{% include 'partials/head.html' %}

<body>
    <div class="container">
        {% include 'partials/sidebar.html' %}

       
        <div class="main_contant_dashboard">
            <h1>AlleyBot</h1>
            <button id="start-record-btn" class="listen_btn" title="Start Recording">
                Click here to talk
            </button>

            <div id="transcript">Waiting for input...</div>

            <p id="ai-response">AI Response will appear here...</p>
        </div>
    </div>
   



</body>

</html>