{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/signin-signup-css.css' %}"
    />
  </head>
  <body>

    <form id="signup_form_screen" action="user_registration" method="post" style="display: none" class="form">
      {% csrf_token %}

      <p class="title">Register</p>
      <p class="message">Signup now and get full access to our app.</p>

      <label>
        <input required=""  name="user_name" placeholder="" type="text" class="input" />
        <span>Name</span>
      </label>

      <label>
        <input required="" name="user_email" placeholder="" type="email" class="input" />
        <span>Email</span>
      </label>

      <label>
        <input required="" name="user_pass" placeholder="" type="password" class="input" />
        <span>Password</span>
      </label>

      <label>
        <input required="" name="user_cpass" placeholder="" type="password" class="input" />
        <span>Confirm password</span>
      </label>

      <button id="signup_submit_btn" class="submit">Submit</button>
      <p class="signin">
        Already have an acount ?
        <button onclick="change_to_signin()" style="background-color: transparent; border: none; cursor: pointer">Signin</button>
      </p>
    </form>

    <form id="signin_form_screen" action="/user_login" method="post" class="form">
      {% csrf_token %}

      <p class="title">Login</p>
      <p class="message">Signin now to access to our app.</p>
      <label>
        <input required="" name="user_email" value="stayer.mohit@gmail.com" placeholder="" type="email" class="input" />
        <span>Email</span>
      </label>

      <label>
        <input required="" placeholder="" name="user_pass" value="123" type="password" class="input" />
        <span>Password</span>
      </label>
      <button id="signup_submit_btn" class="submit">Submit</button>
      <p class="signin">
        Don't have an acount ?
        <button
          onclick="change_to_signup()"
          style="background-color: transparent; border: none; cursor: pointer"
        >
          Create New Account
        </button>
      </p>
    </form>

    <script>
      let signup_form_screen = document.getElementById("signup_form_screen");
      let signin_form_screen = document.getElementById("signin_form_screen");
      function change_to_signin() {
        signup_form_screen.style.display = "none";
        signin_form_screen.style.display = "block";
      }
      function change_to_signup() {
        signin_form_screen.style.display = "none";
        signup_form_screen.style.display = "block";
      }
    </script>
  </body>
</html>
