/* css for index page login and create new account page */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }































#start-voice-input {
    /* padding: 10px 20px; */
    font-size: 16px;
    color: black;
    /* background-color: #f8f8f8; */
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.listening {
    background-color: #4CAF50;
    color: white;
}

*{
    margin: 0vh;
    padding: 0vh;
}
/* sidebar code  */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 1.5vh 4vh;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    transition: 0.3s;
    
}

.sidebar a:hover {
    background-color: #171717;
}


.openbtn, .closebtn {
    cursor: pointer;
    background-color: transparent;
    color: #0000008a;
    border: none;
    vertical-align: middle;
    margin: 0vh 2vh;
}
.openbtn{
    font-size: 28px;
    display: block;

}
.closebtn{
    text-decoration: none;
    font-size: 50px;
    display: none;
    margin: 0vh -1vh;
}

.openbtn:hover {
    color: #000;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    float: left;

}
.sidebar_user{
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}
.sidebar_user i{
    font-size: 30px;
    margin-right: 1vh;

}
.sidebar_user h2 {
    font-size: 18px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}











/* css for the dashboard  */
.container{
    background-color: #F0FEFF;
    min-height: 100vh;
    align-content: center;
}
.main_contant_dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh;
}
.main_contant_dashboard h1{
    color: black;
}
.main_contant_dashboard p{
    width: 50%;
    text-align: center;
    color: #000000a8;

}

.listen_btn{
    background-color: #affaffa6;
    /* padding: 23vh 18vh; */
    border: 1px solid #5CE1E6;
    border-radius: 100vh;
    margin: 5vh 0vh;
    font-size: 17px;
    color: #5ce1e6;
    cursor: pointer;
    height: 54vh;
    width: 56vh;
}




/* converstaons_page css  */
.main_contant_conversations{
    font-size: 18px;
    width: 68%;
    margin: auto;
    padding: 10vh 0vh;
}
.conversation_messgae{
    margin: 1vh 0vh;

}


/* about us page css  */

.main_contant_about_us{
    width: 73%;
    margin: auto;
    padding: 7vh 0vh;
}

.main_contant_about_us div {
    margin: 3vh 0vh;
}
.main_contant_about_us div p{
    font-size: 18px;
    
}
.main_contant_about_us div ul li{
    font-size: 18px;
    
}
.main_contant_about_us div h3{
    font-size: 22px;

}