#start-voice-input {
    /* padding: 10px 20px; */
    font-size: 16px;
    color: black;
    /* background-color: #f8f8f8; */
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.listening {
    background-color: #4CAF50;
    color: white;
}

*{
    margin: 0vh;
    padding: 0vh;
}
/* sidebar code  */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 1.5vh 4vh;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    transition: 0.3s;
    
}

.sidebar a:hover {
    background-color: #171717;
}


.openbtn, .closebtn {
    cursor: pointer;
    background-color: transparent;
    color: #0000008a;
    border: none;
    vertical-align: middle;
    margin: 0vh 2vh;
}
.openbtn{
    font-size: 28px;
    display: block;

}
.closebtn{
    text-decoration: none;
    font-size: 50px;
    display: none;
    margin: 0vh -1vh;
}

.openbtn:hover {
    color: #000;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    float: left;

}
.sidebar_user{
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}
.sidebar_user i{
    font-size: 30px;
    margin-right: 1vh;

}
.sidebar_user h2 {
    font-size: 18px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}











/* css for the dashboard  */
.container{
    background-color: #F0FEFF;
    min-height: 100vh;
    align-content: center;
}
.main_contant_dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh;
}
.main_contant_dashboard h1{
    color: black;
}
.main_contant_dashboard p{
    width: 50%;
    text-align: center;
    color: #000000a8;

}

.listen_btn{
    background-color: #affaffa6;
    /* padding: 23vh 18vh; */
    border: 1px solid #5CE1E6;
    border-radius: 100vh;
    margin: 5vh 0vh;
    font-size: 17px;
    color: #5ce1e6;
    cursor: pointer;
    height: 54vh;
    width: 56vh;
}




/* converstaons_page css  */
.main_contant_conversations{
    font-size: 18px;
    width: 68%;
    margin: auto;
    padding: 10vh 0vh;
}
.conversation_messgae{
    margin: 1vh 0vh;

}


/* about us page css  */

.main_contant_about_us{
    width: 73%;
    margin: auto;
    padding: 7vh 0vh;
}

.main_contant_about_us div {
    margin: 3vh 0vh;
}
.main_contant_about_us div p{
    font-size: 18px;
    
}
.main_contant_about_us div ul li{
    font-size: 18px;
    
}
.main_contant_about_us div h3{
    font-size: 22px;

}